<button *ngIf="btnFlag" class="tp-button" (click)="getYears()">Find Tires For My Vehicle</button>
<div *ngIf="!btnFlag">
  <button (click)="close()" style="color:blue !important;cursor: pointer;">START OVER</button>
</div>
<br /><br />


<div class="card" *ngIf="yearFlag">
  <h3 class="container">What year is your vehicle?</h3>
  <br />
  <span class="header" style="color:blue !important;">YEAR </span>
  <span class="header">MAKE </span>
  <span class="header">MODEL </span>
  <span class="header">STYLE </span><br /><br />
  <!-- <span class="divStyle" *ngFor="let item of years">
    <button class="btnStyle" (click)="getMake(item)">{{item}}</button>
  </span> -->
  <li (click)="getMake(item)" *ngFor="let item of years">{{item}}</li>
</div>

<div class="card" *ngIf="makeFlag">
  <h3 class="container">Select a Make</h3>
  <br />
  <span class="header" style="color:blue !important;">YEAR </span>
  <span class="header" style="color:blue !important;">MAKE </span>
  <span class="header">MODEL </span>
  <span class="header">STYLE </span><br /><br />
  <div class="message">Vehicle: {{year}}</div>
  <br />
  <!-- <span class="divStyle" *ngFor="let item of makes">
    <button class="btnStyle" (click)="getModel(item)">{{item}}</button>
  </span> -->
  <li (click)="getModel(item)" *ngFor="let item of makes">{{item}}</li>
</div>

<div class="card" *ngIf="modelFlag">
  <h3 class="container">Select a Model</h3>
  <br />
  <span class="header" style="color:blue !important;">YEAR </span>
  <span class="header" style="color:blue !important;">MAKE </span>
  <span class="header" style="color:blue !important;">MODEL </span>
  <span class="header">STYLE </span><br /><br />
  <div class="message">Vehicle: {{year}}, {{make}} </div>
  <br />
  <!-- <span class="divStyle" *ngFor="let item of models">
    <button class="btnStyle" (click)="getStyle(item)">{{item}}</button>
  </span> -->
  <li (click)="getStyle(item)" *ngFor="let item of models">{{item}}</li>
</div>

<div class="card" *ngIf="styleFlag">
  <h3 class="container">Select a Style</h3>
  <br />
  <span class="header" style="color:blue !important;">YEAR </span>
  <span class="header" style="color:blue !important;">MAKE </span>
  <span class="header" style="color:blue !important;">MODEL </span>
  <span class="header" style="color:blue !important;">STYLE </span><br /><br />
  <div class="message">Vehicle: {{year}}, {{make}}, {{model}}</div>
  <br />
  <!-- <span class="divStyle" *ngFor="let item of styles">
    <button class="btnStyle" (click)="getSelectedData(item)">{{item}}</button>
  </span> -->
  <li style="width:25% !important;" (click)="getSelectedData(item)" *ngFor="let item of styles">{{item}}</li>
</div>

<div class="card" *ngIf="finalFlag">
  <h3 class="container">Confirm your dealer Location</h3>
  <br />
  <span class="header" style="color:blue !important;">YEAR </span>
  <span class="header" style="color:blue !important;">MAKE </span>
  <span class="header" style="color:blue !important;">MODEL </span>
  <span class="header" style="color:blue !important;">STYLE </span><br /><br />
  <div class="message">Vehicle: {{year}}, {{make}}, {{model}}, {{style}}</div>
  <br />
</div>